  
.contain {
    /* background-color: #1f1f1f; */
 }
 
 @font-face { 
     font-family:'Graphik LCG';
     font-display:swap;
     src:url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Bold.eot);
     src:local("Graphik LCG Bold"),local("GraphikLCG-Bold"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Bold.eot?#iefix) format("embedded-opentype"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Bold.woff2) format("woff2"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Bold.woff) format("woff"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Bold.ttf) format("truetype"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Bold.svg#GraphikLCG-Bold) format("svg");
     font-weight:700;
     font-style:normal;
   } 
   @font-face { 
     font-family:'Graphik LCG';
     font-display:swap;
     src:url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Semibold.eot);
     src:local("Graphik LCG Semibold"),local("GraphikLCG-Semibold"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Semibold.eot?#iefix) format("embedded-opentype"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Semibold.woff2) format("woff2"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Semibold.woff) format("woff"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Semibold.ttf) format("truetype"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Semibold.svg#GraphikLCG-Semibold) format("svg");
     font-weight:600;
     font-style:normal;
   } 
   @font-face { 
     font-family:'Graphik LCG';
     font-display:swap;
     src:url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Medium.eot);
     src:local("Graphik LCG Medium"),local("GraphikLCG-Medium"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Medium.eot?#iefix) format("embedded-opentype"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Medium.woff2) format("woff2"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Medium.woff) format("woff"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Medium.ttf) format("truetype"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Medium.svg#GraphikLCG-Medium) format("svg");
     font-weight:500;
     font-style:normal;
   } 
   @font-face { 
     font-family:'Graphik LCG';
     font-display:swap;
     src:url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Regular.eot);
     src:local("Graphik LCG Regular"),local("GraphikLCG-Regular"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Regular.eot?#iefix) format("embedded-opentype"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Regular.woff2) format("woff2"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Regular.woff) format("woff"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Regular.ttf) format("truetype"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Regular.svg#GraphikLCG-Regular) format("svg");
     font-weight:400;
     font-style:normal;
   } 
   @font-face { 
     font-family:'Graphik LCG';
     font-display:swap;
     src:url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Black.eot);
     src:local("Graphik LCG Black"),local("GraphikLCG-Black"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Black.eot?#iefix) format("embedded-opentype"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Black.woff2) format("woff2"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Black.woff) format("woff"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Black.ttf) format("truetype"),url(https://media.macphun.com/uploads/uploads/fonts/graphik/GraphikLCG-Black.svg#GraphikLCG-Black) format("svg");
     font-weight:900;
     font-style:normal;
   } 
   @font-face { 
     font-family:Roobert;
     font-display:swap;
     src:url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Heavy.eot);
     src:url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Heavy.eot?#iefix) format("embedded-opentype"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Heavy.woff2) format("woff2"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Heavy.woff) format("woff"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Heavy.ttf) format("truetype"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Heavy.svg#Roobert-Heavy) format("svg");
     font-weight:900;
     font-style:normal;
   } 
   @font-face { 
     font-family:Roobert;
     font-display:swap;
     src:url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Bold.eot);
     src:url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Bold.eot?#iefix) format("embedded-opentype"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Bold.woff2) format("woff2"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Bold.woff) format("woff"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Bold.ttf) format("truetype"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Bold.svg#Roobert-Bold) format("svg");
     font-weight:700;
     font-style:normal;
   } 
   @font-face { 
     font-family:Roobert;
     font-display:swap;
     src:url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-SemiBold.eot);
     src:url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-SemiBold.eot?#iefix) format("embedded-opentype"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-SemiBold.woff2) format("woff2"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-SemiBold.woff) format("woff"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-SemiBold.ttf) format("truetype"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-SemiBold.svg#Roobert-SemiBold) format("svg");
     font-weight:600;
     font-style:normal;
   } 
   @font-face { 
     font-family:Roobert;
     font-display:swap;
     src:url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Regular.eot);
     src:url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Regular.eot?#iefix) format("embedded-opentype"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Regular.woff2) format("woff2"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Regular.woff) format("woff"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Regular.ttf) format("truetype"),url(https://media.macphun.com/uploads/uploads/fonts/roobert/Roobert-Regular.svg#Roobert-Regular) format("svg");
     font-weight:400;
     font-style:normal;
   } 
     body {  
       font-size:100%;
       background:#171921;
       font-family:Roobert,sans-serif;
       line-height:24px;
       color:#fff;
       font-weight:400;
     }  
   * { 
       -webkit-box-sizing: inherit; 
       -moz-box-sizing: inherit; 
       box-sizing: inherit;
   } 
   
   div { 
       margin: 0; 
       padding: 0; 
       border: 0; 
       outline: 0; 
       font-size: 100%; 
       vertical-align: baseline; 
       background: 0 0;
   } 
   
   *  { 
       -webkit-box-sizing: inherit; 
       -moz-box-sizing: inherit; 
       box-sizing: inherit;
   } 
   
   body { 
       margin: 0; 
       padding: 0; 
       border: 0; 
       outline: 0; 
       font-size: 100%; 
       vertical-align: baseline; 
       background: 0 0;
   } 
   
   body { 
       font-family: Roobert,sans-serif;
   } 
   
   body { 
       line-height: 24px; 
       color: #fff; 
       -webkit-font-smoothing: antialiased; 
       -moz-osx-font-smoothing: grayscale; 
       font-weight: 400;
   } 
   
   body { 
       background: #1f1f1f;
   } 
   
   body { 
       height: 100%; 
       font-size: 16px; 
       -webkit-text-size-adjust: 100%;
   } 
   
   html { 
       -ms-overflow-style: scrollbar;
   } 
   
   html { 
       margin: 0; 
       padding: 0; 
       border: 0; 
       outline: 0; 
       font-size: 100%; 
       vertical-align: baseline; 
       background: 0 0;
   } 
   
   html { 
       -webkit-box-sizing: border-box; 
       -moz-box-sizing: border-box; 
       box-sizing: border-box;
   } 
   
   html { 
       font-family: Roobert,sans-serif;
   } 
   
   html { 
       line-height: 24px; 
       color: #fff; 
       -webkit-font-smoothing: antialiased; 
       -moz-osx-font-smoothing: grayscale; 
       font-weight: 400;
   } 
   
   html { 
       background: #1f1f1f;
   } 
   
   html { 
       height: 100%; 
       font-size: 16px; 
       -webkit-text-size-adjust: 100%;
   } 
   
   *,:after,:before { 
       -webkit-box-sizing: inherit; 
       -moz-box-sizing: inherit; 
       box-sizing: inherit;
   } 
   
   * , .sk-grid ::after, .sk-grid ::before { 
       -webkit-box-sizing: inherit; 
       -moz-box-sizing: inherit; 
       box-sizing: inherit;
   } 
   
   .sk-grid *, .sk-grid ::after, .sk-grid ::before { 
       -webkit-box-sizing: inherit; 
       -moz-box-sizing: inherit; 
       box-sizing: inherit;
   } 
  

   .swiper-wrapper { 
       position: relative; 
       width: 100%; 
       height: 100%; 
       z-index: 1; 
       display: flex; 
       transition-property: transform; 
       box-sizing: content-box;
       background-color: #1f1f1f;
       min-height: 100vh;
       padding: 60px 60px 0px 0px;
       
   } 
   
   .swiper-wrapper { 
       transform: translate3d(0px,0,0);
   } 
   
   .swiper-slide { 
       flex-shrink: 0; 
       width: 100%; 
       height: 100%; 
       position: relative; 
       transition-property: transform;
   } 
   
   .swiper-slide  { 
       pointer-events: none; 
       transition-property: opacity;
   } 
   
   .swiper-slide-active  { 
       pointer-events: auto;
   } 
   
   .platform-slide__img  { 
       max-width: 1200px; 
       margin: 0 auto;
   } 
   
   figure { 
       display: block;
   } 
   
   figure { 
       margin: 0; 
       padding: 0; 
       border: 0; 
       outline: 0; 
       font-size: 100%; 
       vertical-align: baseline; 
       background: 0 0;
   } 
   
   .sk-figure { 
       display: block;
   } 
   
   .platform-slide__hover  { 
       position: absolute; 
       width: 680px; 
       top: 2px; 
       left: 50%; 
       -webkit-transform: translate(-50%); 
       -ms-transform: translate(-50%); 
       transform: translate(-50%); 
       display: -webkit-box; 
       display: -moz-box; 
       display: -ms-flexbox; 
       display: flex; 
       -webkit-box-align: center; 
       -moz-box-align: center; 
       -ms-flex-align: center; 
       align-items: center; 
       -webkit-box-pack: center; 
       -moz-box-pack: center; 
       -ms-flex-pack: center; 
       justify-content: center; 
       height: 90%; 
       opacity: 0; 
       -webkit-transition: .3s ease-in-out; 
       -o-transition: .3s ease-in-out; 
       transition: .3s ease-in-out;
   } 
   
   .luminar-neo-platform .platform-slide__img:hover .platform-slide__hover { 
       opacity: 1;
   } 
   
   img { 
       margin: 0; 
       padding: 0; 
       border: 0; 
       outline: 0; 
       font-size: 100%; 
       vertical-align: baseline; 
       background: 0 0;
   } 
   
   img  { 
       /* width: 100%; */
   } 
   
   .sk-figure img  { 
       display: block; 
       width: 100%;
   } 
   
   a { 
       text-decoration: none;
   } 
   
   a { 
       padding: 0;
   } 
   
   a { 
       margin: 0; 
       font-size: 100%; 
       vertical-align: baseline; 
       background: 0 0;
   } 
   
   .sk-text { 
       font-family: Roboto,Helvetica,Arial,sans-serif; 
       color: #212529;
   } 
   
   .sk-text { 
       line-height: 1.5;
   } 
   
   .sk-text { 
       font-weight: 400; 
       font-size: 18px;
   } 
   
   .sk-text_type_clean { 
       color: #fff;
   } 
   
   .sk-text { 
       font-family: Roobert,Helvetica,Arial,sans-serif; 
       font-weight: 400; 
       font-size: 20px; 
       line-height: 1.6;
   } 
   
   .platform-slide__hover-btn  { 
       letter-spacing: .08em; 
       -webkit-box-pack: center; 
       text-transform: uppercase; 
       cursor: pointer;
   } 
   
   .platform-slide__hover-btn  { 
       background: #FFF; 
       border-radius: 40px; 
       padding: 18px; 
       color: #0D0B1F; 
       font-weight: 600; 
       font-size: 13px; 
       line-height: 16px; 
       min-width: 177px; 
       display: -webkit-box; 
       display: -moz-box; 
       display: -ms-flexbox; 
       display: flex; 
       -moz-box-pack: center; 
       -ms-flex-pack: center; 
       justify-content: center; 
       -webkit-box-align: center; 
       -moz-box-align: center; 
       -ms-flex-align: center; 
       align-items: center;
   } 
   
   a:active,a:hover { 
       outline: 0;
   } 
   
   
   /* These were inline style tags. Uses id+class to override almost everything */
   #swiper-wrapper-b5156c8a17cb1532.style-NSr5b {  
      transition-duration: 0ms;  
   }  
   #style-35cLL.style-35cLL {  
      width: 1530px;  
       opacity: 1;  
       transform: translate3d(0px, 0px, 0px);  
       transition-duration: 0ms;  
   }  
   #style-oIKq9.style-oIKq9 {  
      width: 1530px;  
       opacity: 1;  
       transform: translate3d(-1530px, 0px, 0px);  
       transition-duration: 0ms;  
   }  
   #style-Yxo9M.style-Yxo9M {  
      width: 1530px;  
       opacity: 1;  
       transform: translate3d(-3060px, 0px, 0px);  
       transition-duration: 0ms;  
   }  
   #style-hl39L.style-hl39L {  
      width: 1530px;  
       opacity: 1;  
       transform: translate3d(-4590px, 0px, 0px);  
       transition-duration: 0ms;  
   }  
   #style-2Ygcm.style-2Ygcm {  
      width: 1530px;  
       opacity: 1;  
       transform: translate3d(-6120px, 0px, 0px);  
       transition-duration: 0ms;  
   }  
   #style-BsBK8.style-BsBK8 {  
      display: none;  
   }  
   #style-oCQNQ.style-oCQNQ {  
      width: 1530px;  
       opacity: 0;  
       transform: translate3d(-7650px, 0px, 0px);  
       transition-duration: 0ms;  
   }  
   #style-sHj4y.style-sHj4y {  
      width: 1530px;  
       opacity: 0;  
       transform: translate3d(-9180px, 0px, 0px);  
       transition-duration: 0ms;  
   } 


   @media (max-width : 1024px) {
    .swiper-wrapper{
        display: none;
    }
}