@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.testimonials_page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 57px 120px 120px 120px;
  gap: 15px;
  height: 100vh;
  background-color: #000000;
}

.testimonial_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
  padding: 2.5rem;
  min-height: 570px;
  width: 316px;
  border-radius: 20px;
  color: #000000;
  background-color:rgb(255, 252, 252);
  overflow: hidden;
}

.testimonial_card>* {
  z-index: 1;
  color: rgb(48, 48, 48);
  font-size: 1.3em;
}

.testimonial_card::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 50px;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 160%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.testimonial_card:nth-child(1):after {
  content: '';
  position: absolute;
  background: #c8ff98;
  inset: 5px;
  border-radius: 15px;
}

.testimonial_card:nth-child(2):after {
  content: '';
  position: absolute;
  background: #ffa091;
  inset: 5px;
  border-radius: 15px;
}

.testimonial_card:nth-child(3):after {
  content: '';
  position: absolute;
  background: #87ffff;
  inset: 5px;
  border-radius: 15px;
}

.testimonial {
  margin-bottom: auto;
  font-size: 1.3rem;
}

.testimonial_card>span p {
  line-height: 30px;
}

.testimonial_card>span p:first-child {
  font-weight: 700;
}

@media (max-width: 768px) and (min-width: 650px) {
  .testimonials_page {
    display: flex;
    flex-wrap: wrap;
    padding: 57px 90px 120px 90px;
    height: unset;
  }

  .testimonial_card {
    min-height: 570px;
    width: 256px;
  }

}

@media (max-width: 649px) {
  .testimonials_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 57px 80px 120px 80px;
    height: unset;
  }


  .testimonial_card {
    min-height: 570px;
    width: 256px;
  }

}