

.testimonial_carousel{
    padding: 50px 50px;
    /* display: flex !important;
    gap: 20px; */
    overflow-x: hidden;
}

.testimonial_carousel_card{
        position: relative;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 15px;
        border: 5px solid black;
        padding: 2.5rem;
        min-height: 570px;
        width: 316px;
        border-radius: 20px;
        color: #000000;
        background-color:rgb(255, 252, 252);
        overflow: hidden;
}

.testimonial_carousel_card>* {
    position: relative;
    z-index: 2;
    color: rgb(48, 48, 48);
    font-size: 1.3em;
  }
  
  .testimonial_carousel_card::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 50px;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 160%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

  
.testimonial_carousel_card:nth-child(1):after {
    content: '';
    position: absolute;
    background: #c8ff98;
    inset: 5px;
    border-radius: 15px;
  }

  .testimonial {
    margin-bottom: auto;
    font-size: 1.3rem;
  }
  
  .testimonial_carousel_card>span p {
    line-height: 30px;
  }
  
  .testimonial_carousel_card>span p:first-child {
    font-weight: 700;
  }
  

  @media (min-width: 1024px) {
    .testimonial_carousel_section{
        display: none !important;
    }
  }

  @media (min-width: 879px) and (max-width : 600px) {
    .testimonial_carousel{
        padding: 50px 140px;
    }
  }

  @media (max-width : 400px) {
    .testimonial_carousel_section{
      height: 120vh !important;
    }

  }